USE [master]
GO
/****** Object:  Database [PediatricTherapyClinic]    Script Date: 5/22/2026 10:02:27 AM ******/
CREATE DATABASE [PediatricTherapyClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PediatricTherapyClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PediatricTherapyClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PediatricTherapyClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PediatricTherapyClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PediatricTherapyClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PediatricTherapyClinic]
GO
/****** Object:  Table [dbo].[CertifiedTherapist]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertifiedTherapist](
	[ClinicSpecialtyId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CertficationDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_CertifiedTherapist] PRIMARY KEY CLUSTERED 
(
	[ClinicSpecialtyId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinic]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinic](
	[ClinicId] [int] IDENTITY(1,1) NOT NULL,
	[ClinicName] [nvarchar](max) NOT NULL,
	[ClinicPhone] [nvarchar](14) NOT NULL,
	[ClinicStreet] [nvarchar](max) NOT NULL,
	[ClinicCity] [nvarchar](40) NOT NULL,
	[ClinicState] [nvarchar](2) NOT NULL,
	[ClinicZipCode] [nvarchar](5) NOT NULL,
	[HealthSystemId] [int] NOT NULL,
 CONSTRAINT [PK_Clinic] PRIMARY KEY CLUSTERED 
(
	[ClinicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicDepartment]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicDepartment](
	[ClinicDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[ClinicDepartmentName] [nvarchar](max) NOT NULL,
	[ClinicDepartmentPhone] [nvarchar](14) NOT NULL,
	[ClinicDepartmentRmNum] [nvarchar](10) NULL,
	[ClinicId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_ClinicDepartment] PRIMARY KEY CLUSTERED 
(
	[ClinicDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicSpecialty]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicSpecialty](
	[ClinicSpecialtyId] [int] IDENTITY(1,1) NOT NULL,
	[ClinicSpecialtyLicense] [nvarchar](40) NOT NULL,
	[ClinicSpecialtyName] [nvarchar](max) NULL,
	[ClinicSpecialtyDesc] [nvarchar](max) NULL,
	[ClinicSpecialtyCertBody] [nvarchar](max) NULL,
	[ClinicDepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_ClinicSpecialty] PRIMARY KEY CLUSTERED 
(
	[ClinicSpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeFirstName] [nvarchar](40) NOT NULL,
	[EmployeeLastName] [nvarchar](max) NOT NULL,
	[EmployeePhone] [nvarchar](14) NULL,
	[EmployeeEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthSystem]    Script Date: 5/22/2026 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthSystem](
	[HealthSystemId] [int] IDENTITY(1,1) NOT NULL,
	[HealthSystemName] [nvarchar](max) NOT NULL,
	[HealthSystemPhone] [nvarchar](14) NOT NULL,
	[HealthSystemStreet] [nvarchar](max) NOT NULL,
	[HealthSystemCity] [nvarchar](40) NOT NULL,
	[HealthSystemState] [nvarchar](2) NOT NULL,
	[HealthSystemZipCode] [nvarchar](5) NOT NULL,
	[HealthSystemDesc] [nvarchar](max) NULL,
 CONSTRAINT [PK_HealthSystem] PRIMARY KEY CLUSTERED 
(
	[HealthSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CertifiedTherapist] ([ClinicSpecialtyId], [EmployeeId], [CertficationDate], [ExpirationDate]) VALUES (1, 6, CAST(N'2020-05-20' AS Date), CAST(N'2040-05-20' AS Date))
INSERT [dbo].[CertifiedTherapist] ([ClinicSpecialtyId], [EmployeeId], [CertficationDate], [ExpirationDate]) VALUES (4, 3, CAST(N'2024-12-31' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[CertifiedTherapist] ([ClinicSpecialtyId], [EmployeeId], [CertficationDate], [ExpirationDate]) VALUES (6, 8, CAST(N'2022-09-05' AS Date), CAST(N'2027-09-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Clinic] ON 

INSERT [dbo].[Clinic] ([ClinicId], [ClinicName], [ClinicPhone], [ClinicStreet], [ClinicCity], [ClinicState], [ClinicZipCode], [HealthSystemId]) VALUES (1, N'Therapy Plus City Center', N'(407) 555-0223', N'3 CITY CENTER DR', N'ORLANDO', N'FL', N'32801', 2)
INSERT [dbo].[Clinic] ([ClinicId], [ClinicName], [ClinicPhone], [ClinicStreet], [ClinicCity], [ClinicState], [ClinicZipCode], [HealthSystemId]) VALUES (2, N'Therapy Plus Millenia', N'(407) 836-2001', N'8005 ORANGE BLOSSOM TRAIL', N'ORLANDO', N'FL', N'32809', 2)
INSERT [dbo].[Clinic] ([ClinicId], [ClinicName], [ClinicPhone], [ClinicStreet], [ClinicCity], [ClinicState], [ClinicZipCode], [HealthSystemId]) VALUES (3, N'TruTherapy Align Plaza', N'(305) 827-2212', N'2701 GEORGIA AVE', N'MIAMI', N'FL', N'33139', 4)
SET IDENTITY_INSERT [dbo].[Clinic] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicDepartment] ON 

INSERT [dbo].[ClinicDepartment] ([ClinicDepartmentId], [ClinicDepartmentName], [ClinicDepartmentPhone], [ClinicDepartmentRmNum], [ClinicId], [EmployeeId]) VALUES (1, N'Orthopaedic Surgery', N'(407) 555-0224', N'238', 2, 1)
INSERT [dbo].[ClinicDepartment] ([ClinicDepartmentId], [ClinicDepartmentName], [ClinicDepartmentPhone], [ClinicDepartmentRmNum], [ClinicId], [EmployeeId]) VALUES (2, N'Rehabilitation Medicine - Physiatry', N'(407) 555-0228', N'246', 2, 2)
INSERT [dbo].[ClinicDepartment] ([ClinicDepartmentId], [ClinicDepartmentName], [ClinicDepartmentPhone], [ClinicDepartmentRmNum], [ClinicId], [EmployeeId]) VALUES (3, N'Behavioral and Mental Health Services', N'(407) 238-7784', N'B702', 6, 3)
SET IDENTITY_INSERT [dbo].[ClinicDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicSpecialty] ON 

INSERT [dbo].[ClinicSpecialty] ([ClinicSpecialtyId], [ClinicSpecialtyLicense], [ClinicSpecialtyName], [ClinicSpecialtyDesc], [ClinicSpecialtyCertBody], [ClinicDepartmentId]) VALUES (1, N'OCS', N'Orthopaedic Clinical Specialist', N'Treatment of musculoskeletal disorders', N'American Board of Physical Therapy Specialties (ABPTS)', 6)
INSERT [dbo].[ClinicSpecialty] ([ClinicSpecialtyId], [ClinicSpecialtyLicense], [ClinicSpecialtyName], [ClinicSpecialtyDesc], [ClinicSpecialtyCertBody], [ClinicDepartmentId]) VALUES (2, N'DO', N'Doctor of Osteopathic Medicine', N'Injuries and diseases of the musculoskeletal system', N'American Board of Orthopaedic Surgery (ABOS)', 1)
INSERT [dbo].[ClinicSpecialty] ([ClinicSpecialtyId], [ClinicSpecialtyLicense], [ClinicSpecialtyName], [ClinicSpecialtyDesc], [ClinicSpecialtyCertBody], [ClinicDepartmentId]) VALUES (3, N'MD', N'Doctor of Medicine', N'Allopathic, or conventional, medicine', N'State medical board', 2)
SET IDENTITY_INSERT [dbo].[ClinicSpecialty] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [EmployeeFirstName], [EmployeeLastName], [EmployeePhone], [EmployeeEmail]) VALUES (1, N'Ronaldo', N'Adams', N'(407) 555-0226', N'radams@therapyplus.com')
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeFirstName], [EmployeeLastName], [EmployeePhone], [EmployeeEmail]) VALUES (2, N'Catherine', N'Swanson-Nowak', N'(407) 555-0227', N'cswanson@therapyplus.com')
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeFirstName], [EmployeeLastName], [EmployeePhone], [EmployeeEmail]) VALUES (3, N'Heidi', N'Baker', N'(407) 238-7788', N'heidibaker@therahealth.com')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthSystem] ON 

INSERT [dbo].[HealthSystem] ([HealthSystemId], [HealthSystemName], [HealthSystemPhone], [HealthSystemStreet], [HealthSystemCity], [HealthSystemState], [HealthSystemZipCode], [HealthSystemDesc]) VALUES (2, N'Therapy Plus', N'(407) 555-0123', N'456 OCEAN DR', N'ORLANDO', N'FL', N'32801', NULL)
INSERT [dbo].[HealthSystem] ([HealthSystemId], [HealthSystemName], [HealthSystemPhone], [HealthSystemStreet], [HealthSystemCity], [HealthSystemState], [HealthSystemZipCode], [HealthSystemDesc]) VALUES (3, N'AllHealth', N'(407) 412-9084', N'123 FLACK ST', N'ORLANDO', N'FL', N'32801', NULL)
INSERT [dbo].[HealthSystem] ([HealthSystemId], [HealthSystemName], [HealthSystemPhone], [HealthSystemStreet], [HealthSystemCity], [HealthSystemState], [HealthSystemZipCode], [HealthSystemDesc]) VALUES (4, N'TruTherapy', N'(305) 827-0012', N'80 CRESCENT DR', N'MIAMI', N'FL', N'33139', NULL)
SET IDENTITY_INSERT [dbo].[HealthSystem] OFF
GO
ALTER TABLE [dbo].[Clinic]  WITH CHECK ADD  CONSTRAINT [FK_Clinc_HealthSystem] FOREIGN KEY([HealthSystemId])
REFERENCES [dbo].[HealthSystem] ([HealthSystemId])
GO
ALTER TABLE [dbo].[Clinic] CHECK CONSTRAINT [FK_Clinc_HealthSystem]
GO
ALTER TABLE [dbo].[ClinicDepartment]  WITH CHECK ADD  CONSTRAINT [FK_ClinicDepartment_Clinic] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinic] ([ClinicId])
GO
ALTER TABLE [dbo].[ClinicDepartment] CHECK CONSTRAINT [FK_ClinicDepartment_Clinic]
GO
ALTER TABLE [dbo].[ClinicDepartment]  WITH CHECK ADD  CONSTRAINT [FK_ClinicDepartment_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[ClinicDepartment] CHECK CONSTRAINT [FK_ClinicDepartment_Employee]
GO
ALTER TABLE [dbo].[ClinicSpecialty]  WITH CHECK ADD  CONSTRAINT [FK_ClinicSpecialty_ClinicDepartment] FOREIGN KEY([ClinicDepartmentId])
REFERENCES [dbo].[ClinicDepartment] ([ClinicDepartmentId])
GO
ALTER TABLE [dbo].[ClinicSpecialty] CHECK CONSTRAINT [FK_ClinicSpecialty_ClinicDepartment]
GO
USE [master]
GO
